<script nonce="<%= nonce %>" src="assets/js/bundle.js"></script>

<script nonce="<%= nonce %>" src="assets/css/MDB5-7.1.0/js/mdb.umd.min.js"></script>

<script nonce="<%= nonce %>" src="assets/js/app.js"></script>
<script type="module" src="/assets/js/chart.min.js"></script>
</body>

</html>