<!-- Navbar -->
<nav
  id="main-navbar"
  class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <a href="/"
      ><img class="ps-2" src="assets/image/BetterLogo.png" height="60"
    /></a>

    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Brand -->

    <div class="d-flex align-items-center">
        <% if (user) { %>
      <button data-mdb-ripple-init type="button" class="btn px-3 me-2">
        <%= user.email %>
      </button>
      <a href="/logout"><button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
        Sair
      </button></a>
      
      <% } else { %>
        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
            Entrar
          </button>
          <% } %>
    </div>

    
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!--Main Navigation-->
<header class="">
  <!-- Sidebar -->
  <nav
    id="navbarSupportedContent"
    class="collapse navbar-collapse d-lg-block sidebar bg-white"
  >
    <div class="position-sticky my-5">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="#"
          id="dashboardLink"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
          nonce="<%= nonce %>"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a
          href="#"
          id="novochamadoLink"
          class="list-group-item list-group-item-action py-2 ripple"
        >
          <i class="fas fa-circle-plus fa-fw me-3"></i
          ><span>Inciar Chamado</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-folder-open fa-fw me-3"></i
          ><span>Meus Chamados</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-users fa-fw me-3"></i><span>Meu Setor</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Graficos</span>
        </a>
      </div>
      <%- include('messages'); %>
    </div>
  </nav>
  <!-- Sidebar -->
  
</header>
<!--Main Navigation-->
