<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <a href="/"><img class="ps-2" src="assets/image/BetterLogo.png" height="60" /></a>

    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Brand -->

    <div class="d-flex align-items-center">
      <% if (user) { %>
        <button data-mdb-ripple-init type="button" class="btn px-3 me-2">
          <%= user.email %>
        </button>
        <a href="/logout"><button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
            Sair
          </button></a>

        <% } else { %>
          <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
            Entrar
          </button>
          <% } %>
    </div>


  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!--Main Navigation-->
<header class="">
  <!-- Sidebar -->
  <nav id="navbarSupportedContent" class="collapse navbar-collapse d-lg-block sidebar bg-white">
    <div class="position-sticky my-5">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" id="dashboardLink" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"
          nonce="<%= nonce %>">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="#" id="novochamadoLink" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-circle-plus fa-fw me-3"></i><span>Inciar Chamado</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-folder-open fa-fw me-3"></i><span>Meus Chamados</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-users fa-fw me-3"></i><span>Meu Setor</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Graficos</span>
        </a>


        <!-- Collapse 2 -->
        <a class="list-group-item list-group-item-action py-2 ripple" data-mdb-collapse-init aria-current="true"
          data-mdb-toggle="collapse" href="#collapseExample2" aria-expanded="true" aria-controls="collapseExample2">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Grupos</span>
        </a>



        <!-- Collapsed content -->
        <ul id="collapseExample2" class="collapse list-group list-group-flush">
          <li class="list-group-item py-1">
            <a href="" class="text-reset" data-mdb-modal-init data-mdb-target="#exampleModal">Criar Novo Grupo</a>
          </li>

        </ul>
        <!-- Collapse 2 -->
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Graficos</span>
        </a>
      </div>
      <%- include('messages'); %>
    </div>
  </nav>
  <!-- Sidebar -->

</header>
<!--Main Navigation-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Criar Novo Grupo</strong></h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body"><!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="form1Example1" class="form-control" />
          <label class="form-label" for="form1Example1">Nome do Grupo</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form1Example1">Escolha para onde o grupo pode abrir chamdos</label>
          <select class="form-select " aria-label=".form-select-sm example" multiple data-mdb-container="#exampleModal"
            data-mdb-filter="true">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
            <option value="9">Nine</option>
            <option value="10">Ten</option>
          </select>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>Salvar Grupo</button>
      </div>
    </div>
  </div>
</div>