<%- include('includes/head'); %> <%- include('includes/nav'); %>

<!--Main layout -->
<main class="conteudo">
  <div class="container pt-5" id="conteudo">
    <div class="row mx-auto">
      <div class="col-lg-3"></div>
      <div class="col-lg-5">
        <img class="img-fluid imgopc" src="assets/image/BetterLogo.png" />
      </div>
    </div>
  </div>
</main>


<%- include('includes/footer'); %>
