<section style="background-color: #eee">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        

                        <p class="mt-3 mb-4 pb-2 text-center">
                            Descreva com detalhes para que fim você está abrindo Chamado
                        </p>
                        <select class="form-select" aria-label=".form-select-sm example">
                            <option selected>Selecione o setor</option>
                            <option value="1">T.I</option>
                            <option value="2">Financeiro</option>
                            <option value="3">Recursos Humanos</option>
                        </select>
                    </div>
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa">
                        <div class="d-flex flex-start w-100">
                            <div class="form-outline w-100">
                                <textarea class="form-control" id="textAreaExample" rows="4"
                                    style="background: #fff"></textarea>
                                <label class="form-label" for="textAreaExample">Message</label>
                            </div>
                        </div>

                        <div class="row  ">


                            <div class="col-lg-8">
                                <button type="button" class="btn btn-primary ">
                                    Post comment
                                </button>

                                <button type="button" class="btn btn-outline-primary ">
                                    Cancel
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>